.header{
	background-color:#333;
	padding: 40px 0;
}
.logo{
	    color: #a4c639;
	    text-transform:uppercase;
	    letter-spacing:7px;
	    line-height:0;
	    font-size:27px;
	    text-decoration:none;
}